body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: space-around;
  min-width: 320px;
  min-height: 100vh;
}



.section-container {
  margin: 20px;
  height: 100hv;
}

.section-title {
  margin-bottom: 20px;
  text-align: start;
}

.section-content {
  display: flex;
  justify-content: center; /* Centraliza as imagens */
  align-items: center;
  gap: 12px; 
}

.section-content img {
  max-width: 300px;
  border-radius: 4px;
}


