/* src/components/FilterGroup.module.css */
.filterGroup {
  width: 308px;
  padding: 28px;
  background-color: #ffffff;
  color: var(--dark-gray-2);
  margin-bottom: 16px; /* Espaçamento entre grupos de filtro */
  border-radius: 4px;
}

.title {
  font-size: 14px;
  color: #474747;
  margin-bottom: 8px;
  font-weight: 500;
}

.divider {
  margin: 8px 0 16px 0;
  border: 1px solid var(--light-gray-2);
}

.optionsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.optionItem {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.input {
  width: 22px;
  height: 22px;
  background-color: #FFFFFF;
  margin-right: 8px;
  appearance: none;
  border: 1px solid var(--light-gray-2);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.input:checked {
  background-color: #C92071;
}

.input[type="radio"] {
  border-radius: 50%; /* Formato circular para radio buttons */
}

.label {
  font-size: 14px;
  color: var(--dark-gray-2);
}



