.bannerCarousel{
  background-color: var(--light-gray-3);
}

.textContent{
  padding: 10%;

  .titleText{
    color: var(--warning);
    font-size: 1rem;
  }

  .promoText{
    color: var(--dark-gray-2);
    font-size: 4rem;
    span{
      text-wrap: nowrap;
    }
  }

  .descriptionText{
    color: var(--dark-gray-2);
    font-size: 1.125rem;
  }

  .seeOffer{
    color: var(--light-gray-3);
    background-color: var(--primary);
  }
}

.imageContent .ornament{
  left: 80%;
  top: 10%;
  position: absolute;
}