
/* .col{
  display: flex;
  justify-content: center;
} */

.linkCard{
  text-decoration: none;
}

.gridList{
  justify-content: space-around;
}

.discountCard{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #E7FF86;
  border-radius: 29px;
  padding: 5px 10px;
  text-align: center;

  .discountText{
    color: var(--dark-gray-2);
    font-size: 14px;
    margin: 0;
  }

}
  