.main-collections-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 2%;
}

.collections-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 2%;
  width: 100%;
}

.main-collections {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main-collections .collection-item img {
  width: 100%;
  height: auto;
  border-radius: 10px !important;
}

.collection-item {
  width: 30%;
  position: relative;
  overflow: hidden;
}

.discount-tag {
  position: absolute;
  top: 10px;
  left: 30px;
  background-color: #E7FF86;
  color: #474747;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
}

.buy-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  color: #C92071;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  margin: 20px;
  border: 2px;
  border-radius: 8px;
  cursor: pointer;
}












