.header-menu{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 42px 100px 0;
    gap: 10px;

    .input-group{
        width: 50%;

        .form-control{
            background-color: var(--ligth-gray-3);
        }
    }

    .cadastro{
        color: var(--dark-gray-2);
        text-wrap: nowrap;
        /* text-decoration: none; */
    }

    .btn{
        background: var(--primary);
        color: var(--ligth-gray-3);
    }

}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 30px 100px 0;
    
    a{
        text-decoration: none;
        color: var(--dark-gray-2);
    }

    a:hover{
        font-weight: bold;
        color:var(--primary);
    }
}